* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
.content {
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    border: 1px solid lightskyblue;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: lavenderblush;
}
.topnav {
    width: 100%;
    background-color: darkorchid;
    font-weight: bold;
    color: lavenderblush;
}
.topnav > div, li {
    display: inline-block;
    position: relative;
    width: 100px;
    border-right: 1px solid orchid;
    padding: 5px 15px;
}
li {
    width: 105px;
}
.topnav ul {
    display: none;
    position: absolute;
    list-style-type: none;
    background-color:  darkorchid;
    left: -5px;
    top: 12px;
    padding: 0;
}
.topnav > div:hover ul {
    display: block;
}